.accent-1, .accent-2, .accent-3, .accent-4 {
  color: white;
  padding: 1.7rem 1rem;
}
.accent-1 {
  background-color: $accent-1;
}
.accent-2 {
  background-color: $accent-2;
}
.accent-3 {
  background-color: $accent-3;
}
.accent-4 {
  background-color: $accent-4;
}

.colour-white {
  color: white;
}

.text, .center-content {
  max-width: $maxwidth;
  margin: 0 auto;
}

.text {
  font-weight: 200;

  &.share {
    display: inline-block;
    max-width: 100%;

    @media (min-width: $tablet) { 
      max-width: 440px;
    }

    @media (min-width: $desktop) { 
      max-width: inherit;
    }
  }
}

.center-content {
  margin: 2rem auto;

  h3 {
    margin: 2rem 0 1rem;
  }
}

.vertical-center {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.contact-us, .close-modal, button {
  &:hover {
    cursor: pointer;
  }
}

.contact-us {
  font-weight: bold;
}

.nudges-image {
  width: 40%;
  margin: 0 auto;

  @media (min-width: $tablet) { 
    width: 100%;
    margin: 1rem 0;
  }

  &-button {
    @media (min-width: $desktop) { 
      margin: 1rem 0 1rem -4rem;
    }

    @media (min-width: $desktop-m) { 
      margin: 1rem 0 1rem -7rem;
    }
  }
}

.image-tedx {
  width: 100px;
  margin: 1rem;
  position: relative;
}

.icon {
  bottom: 50%;
  transform: translateY(50%);
  width: 3em;
  position: absolute;

  &-heading {
    margin: .5rem auto 0;
    padding: 0 1rem 0 0;
    font-size: 2.5rem;

    &.large {
      font-size: 3rem;
    }
  }

  &-right {
    display: none;

    @media (min-width: $tablet) {
      display:block;
      position: absolute;
      top: 1rem;
      right: 1rem;
    }
    @media (min-width: $desktop) {
      top: .5rem;
      right: 5%;
    }
  }
}

.grid-item-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  min-height: 275px;
  color: white;

  a {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99;
  }

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.1);
  }

  &:nth-child(1), &:nth-child(4) {
    &:before {
      background-color: rgba(0,0,0,.4);
    }
  }

  &:nth-child(1) { 
    &:before {
      background-image: linear-gradient(rgba($accent-3,.3), rgba(0,0,0,.6));
      @media (min-width: $tablet) {
        background-image: linear-gradient(transparent);
      }
    }
  }

  &:nth-child(2) { 
    &:before {
      background-image: linear-gradient(rgba($accent-2,.6), rgba(0,0,0,.3));
      @media (min-width: $tablet) {
        background-image: linear-gradient(transparent);
      }
    }
  }

  &:nth-child(3) { 
    &:before {
      background-image: linear-gradient(rgba($accent-4,.6), rgba(0,0,0,.3));
      @media (min-width: $tablet) {
        background-image: linear-gradient(transparent);
      }
    }
  }

  &:nth-child(4) { 
    &:before {
      background-image: linear-gradient(rgba($accent-1,.6), rgba(0,0,0,.6));
      @media (min-width: $tablet) {
        background-image: linear-gradient(transparent);
      }
    }
  }

  &:hover {
    cursor: pointer;
  }

  @media (min-width: $phone) {
    min-height: 315px;
  }

  @media (min-width: $tablet) {
    min-height: 275px;
  }

  @media (min-width: $desktop-m) {
    min-height: 350px;
  }

  @media (min-width: $desktop-l) {
    min-height: 460px;
  }
}

.grid-item-title {
  @media (min-width: $tablet) {
    min-height: 3rem;
  }
}

.unstyled-button {
  border: none;
  background: transparent;
  color: inherit;
  font-size: 1.3rem;
  font-family: karla;
  padding: 0;
  text-shadow: inherit;
}

.footer-address {
  background: $footer-address;
  text-align: center;
  padding: 1rem;

  &__text {
    font-weight: normal;
  }
}
