.accent-1, .accent-2, .accent-3, .accent-4 {
  color: white;
  padding: 1.7rem 1rem;
  position: relative;
}
.accent-1 {
  background-color: $accent-1;
}
.accent-2 {
  background-color: $accent-2;
}
.accent-3 {
  background-color: $accent-3;
}
.accent-4 {
  background-color: $accent-4;
}
.footer-bg { background-color: $footer-bg; }

.colour-black { color: black; }
.colour-white { color: white; }
.colour-accent-1 { color: $accent-1; }
.colour-accent-2 { color: $accent-2; }
.colour-accent-3 { color: $accent-3; }
.colour-accent-4 { color: $accent-4; }

.text, .center-content {
  max-width: $maxwidth;
  margin: 0 auto;
}

.text {
  font-weight: 200;

  &.share {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 1rem;

    @media (min-width: $tablet) { 
      max-width: 440px;
    }

    @media (min-width: $desktop) { 
      max-width: inherit;
    }
  }
}

.big-1st-letter {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Karla';
  display: inline-block;
  color: white;
  width: 40px;
  height: 40px;
  padding: 10px 0;
  background-image: url('../images/bullet.png');
  background-size: 40px 40px;
  background-repeat: no-repeat;
  text-align: center;
}

.rest {
  display: block;
  margin: -1.4rem 0 0 40px;
  line-height: 1.3rem;
  min-height: 2.6rem;

  &::first-letter {
    visibility: hidden;
    font-size: 0;
  }
}

.center-content {
  margin: 2rem 1rem;

  p {
    font-size: 1.3rem;
    line-height: 1.6rem;
  }

  h3 {
    margin: 2rem 0 1rem;
  }

  @media (min-width: ($maxwidth + 60px)) { 
    margin: 2rem auto;
  }
}

.vertical-center {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.contact-us, .close-modal, button {
  &:hover {
    cursor: pointer;
  }
}

.contact-us {
  font-weight: bold;
}

.nudges-image {
  width: 40%;
  margin: 0 auto;

  @media (min-width: $tablet) { 
    width: 100%;
    margin: 1rem 0;
  }

  &-button {
    @media (min-width: $desktop) { 
      margin: 1rem 0 1rem -4rem;
    }

    @media (min-width: $desktop-m) { 
      margin: 1rem 0 1rem -7rem;
    }
  }
}

.image-tedx {
  width: 100px;
  margin: 1rem;
  position: relative;
}

.icon {
  bottom: 50%;
  transform: translateY(50%);
  width: 3em;
  position: absolute;

  &-heading {
    margin: 1.5rem 1rem 0 1rem;
    padding: 0;
    font-size: 1.6rem;

    &.large {
      font-size: 2rem;
      margin: 0 1rem;
    }

    .footer & {
      margin: 1.5rem .5rem 0 0;
    }
  }

  &-right {
    display: none;

    @media (min-width: $tablet) {
      display:block;
      position: absolute;
      top: 1rem;
      right: 1rem;
    }
    @media (min-width: $desktop) {
      top: 50%;
      right: 5%;
      transform: translateY(-50%);
    }
  }
}

.grid-item-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  color: white;
  position: relative;
  height: 100vw;
  width: 100vw;

  .approach > & {
    display: grid;
    align-items: flex-end;
    background-size: contain;
    
    & > div {
      padding: 2rem;
    }
  }

  a {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99;
    top: 0;
  }

  & > * {
    position: relative;
  }

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);

    .approach & { background-color: rgba(0,0,0,.8); }
  }

  &:nth-child(1), &:nth-child(4) {
    &:before {
      background-color: rgba(0,0,0,.3);
      .approach & { background-color: rgba(0,0,0,.8); }
    }
  }

  &:nth-child(1) { 
    &:before {
      background-image: linear-gradient(rgba($accent-3,.1), rgba(0,0,0,.3));
      @media (min-width: $tablet) {
        background-image: linear-gradient(transparent, transparent);
      }
    }
  }

  &:nth-child(2) { 
    &:before {
      background-image: linear-gradient(rgba($accent-2,.1), rgba(0,0,0,.3));
      @media (min-width: $tablet) {
        background-image: linear-gradient(transparent, transparent);
      }
    }
  }

  &:nth-child(3) { 
    &:before {
      background-image: linear-gradient(rgba($accent-4,.1), rgba(0,0,0,.3));
      @media (min-width: $tablet) {
        background-image: linear-gradient(transparent, transparent);
      }
    }
  }

  &:nth-child(4) { 
    &:before {
      background-image: linear-gradient(rgba($accent-1,.1), rgba(0,0,0,.3));
      @media (min-width: $tablet) {
        background-image: linear-gradient(transparent, transparent);
      }
    }
  }

  &:hover {
    cursor: pointer;
  }

  @media (min-width: $tablet) {
    height: 50vw;
    width: 50vw;
  }

  @media (min-width: $desktop) {
    height: 25vw;
    width: 25vw;
  }

  .why > & {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    & > div { padding: 2rem 1.5rem }
  }
}

.grid-item-title {
  @media (min-width: $tablet) {
    min-height: 3rem;
  }
}

.unstyled-button {
  border: none;
  background: transparent;
  color: inherit;
  font-size: 1.3rem;
  font-family: karla;
  padding: 0;
  text-shadow: inherit;
}

.footer-address {
  background: $footer-address;
  text-align: center;
  padding: 1rem;

  &__text {
    font-weight: normal;
  }
}

.founders-video {
  position: relative;
  width: 350px;
  max-width: 90vw;

  @media (min-width: $desktop-m) {
    width: 350px;
    position: absolute;
    left: 70vw;
  }
}

@media print {
  .no-print, .no-print *, .footer, .header, head {
    display: none !important;
    visibility: hidden !important;
  }
}
