ul.image-list {
  padding: 0;
  margin: 4rem 0;

  li {
    padding-left: 70px;
    position: relative;
    margin-bottom: 2rem;
  }

  li:before {
    content: '';
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    left: 0;
  }

  li:nth-of-type(1):before { background-image: url('../images/guide/challenge.png'); }
  li:nth-of-type(2):before { background-image: url('../images/guide/nudge.png'); }
  li:nth-of-type(3):before { background-image: url('../images/guide/howto.png'); }
  li:nth-of-type(4):before { background-image: url('../images/guide/virtual.png'); }
  li:nth-of-type(5):before { background-image: url('../images/guide/impact.png'); }
  li:nth-of-type(6):before { background-image: url('../images/guide/comments.png'); }
  li:nth-of-type(7):before { background-image: url('../images/guide/public.png'); }
  li:nth-of-type(8):before { background-image: url('../images/guide/acknowledge.png'); }
}

ul.arrow-list {
  li {
    margin-bottom: 1rem;
  }
}

.bordered-section {
  border: 2px dashed black;
  border-radius: 30px;
  padding: 0 30px 10px;
  margin: 2rem 0;
  position: relative;
  text-align: center;

  .blog-post & h3 {
    margin-top: 1.5rem;
  }

  img {
    position: absolute;
    width: 40px;
    left: -5px;
    top: -7px;
  }
}

.guide-links {
  display: grid;
  grid-template-columns: auto;
  gap: 1rem;
  text-align: center;

  > .modal-form__button {
    margin: 0;

    @media (min-width: $tablet) {
      margin: 2rem 0 0;
    }
  }

  &.share {
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 2rem;
  }

  &.fixed {
    position: fixed;
    right: 1rem;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: calc(100vw - 2rem);
    z-index: 99;

    > * {
      margin: 0 0 1rem;
      width: 100%;
      background: rgba($accent-3, .9);
      padding: 2px;

      @media (min-width: $desktop) {
        padding: 10px;
      }
    }

    @media (min-width: $desktop) {
      display: block;
      right: 5rem;
      bottom: inherit;
    }
  }

  @media (min-width: $tablet) {
    grid-template-columns: repeat(4, 1fr);
    gap: 0 1rem;
  }
}

.front-page {
  width: 100%;
  margin-bottom: 2rem;
  display: block;
  border-bottom: 6px solid grey;
  page-break-before: avoid;
}

.guide-image {
  width: 100%;

  @media (min-width: $tablet) {
    width: 50%;
    margin: 0 auto;
    display: block;
  }
}

.make-it-happen {
  background-image: url('../images/guide/make-it-happen.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 4rem 3rem;
  text-align: center;
  margin: 4rem 0;

  h3 {
    font-size: .9rem;
    @media (min-width: $tablet-l) {
      font-size: 1.1rem;
    }
  }
}