.slider {
  background: $footer-bg;
  padding: 2rem 0;
  position: relative;
  transition: height .5s linear;

  .slide {
    max-width: $maxwidth;
    width: 95%;
    margin: 0 auto;
    text-align: center;
    height: 0;
    opacity: 0;
    transition: opacity .5s linear;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    &.show {
      opacity: 1;
    }

    &__text {
      margin-bottom: 1rem;

      h3 {
        color: $testimonial-quote;
      }

      p {
        color: $testimonial-quote;
        font-size: 1.2rem;
      }
    }

    p { margin: 0; }

    @media (min-width: $tablet) {
      width: 68%;
    }
  }

  &__bullets {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    // Hiding bullets for now
    display: none;
  }

  &__bullet {
    border: none;
    background: transparent;
    font-size: 1.5rem;
    color: lightgray;
    transition: color .5s linear;

    &.show {
      color: black;
    }
  }

  &__arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 3rem;
    color: gray;
  }

  &__left, &__right  {
    position: absolute;
    font-size: 3rem;
    cursor: pointer;
    display: none;
    &:hover {
      color: black;
    }

    @media (min-width: $tablet) {
      display: block;
    }
  }
  &__left { left: 10%; }
  &__right { right: 10%; }
}