h1, h2, h3, h4, h5, h6, button, label {
  font-family: karla;
  margin: 0;
}

p, input, textarea {
  font-family: 'cormorant garamond';
  font-size: 1rem;
}

a {
  color: $accent-3;
  font-weight: bold;
  text-decoration: none;

  &.dark {
    color: black;
  }
}

.paragraphs-large-text {
  &>p {
    font-size: 1.2rem;
  }
}

button.apply-link-style {
  color: $accent-3;
  font-weight: bold;
}

.site-title {
  &--top {
    margin-top: 1rem;
    font-size: 1.3rem;
    font-weight: 400;
    @media (min-width: $phone) { 
      margin-top: 2rem;
    }
  }
  &--bottom {
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
}

.page-heading {
  text-align: center;
  margin: 2rem 0 1.5rem;
  font-size: 1.7rem;
}