h1, h2, h3, h4, h5, h6, a, button, .modal-form__button, label {
  font-family: karla;
}

p, input, textarea, select, ul {
  font-family: 'cormorant garamond';
  font-size: 1rem;
}

a {
  color: $accent-3;
  font-weight: bold;
  text-decoration: none;

  &.dark {
    color: black;
    font-family: karla;
  }
}

.headline {
  font-weight: normal;
  margin: .5rem 0 1rem;

  .approach & {
    @media (min-width: $desktop) { font-size: 1rem }
    @media (min-width: $desktop-m) { font-size: 1.2rem }
  }
}

.apply-link-style.apply-link-style {
  color: $accent-3;
  font-weight: bold;
}

.guidebook-link.guidebook-link {
  font-size: 1.17rem;
  color: black;
  font-weight: normal;
  text-align: center;
}

.site-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 0 1rem;
  letter-spacing: -2px;

  .blog-subtitle {
    font-size: 1.2rem;
    display: block;
    @media (min-width: $tablet) { font-size: 1.5rem; }
  }

  @media (min-width: $phone) { 
    font-size: 1.7rem;
  }

  @media (min-width: $tablet) { 
    font-size: 2rem;
  }

  @media (min-width: $desktop) { 
    font-size: 2.2rem;
  }
}

.page-heading {
  text-align: center;
  margin: 2rem 0 1.5rem;
  font-size: 1.7rem;

  &.see-who {
    margin-bottom: 2.5rem;
    position: relative;
  }

  & .organisations__link {
    position: relative;
    display: block;

    @media (min-width: $tablet-l + 100px) {
      position: absolute;
      top: 50%;
      right: 5%;
      transform: translateY(-50%);
    } 
  }
}