$accent-1: #5f264f;
$accent-2: #2a3b8e;
$accent-3: #f2b11e;
$accent-4: #49a798;
$testimonial-quote: #333;
$footer-bg: #f5f5f5;
$footer-address: #eaeaea;
$maxwidth: 1050px;
$phone: 400px;
$tablet: 550px;
$tablet-l: 700px;
$desktop: 1020px;
$desktop-m: 1400px;
$desktop-l: 2500px;